* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  font-size: 20px;
  background-image: url('../images/tło1.jpg');
  background-size: auto;
  background-position: center;
  background-repeat: repeat;
  margin: 0;
}


a {
  text-decoration: none;
  display: inline-block;
  color: black;
}

p {
  margin-bottom: 5%;
}

h3 {
  font-family: 'Lobster', sans-serif;
  margin-bottom: 5%;
  font-size: 30px;
}

li {
  margin-left: 30px;
}
img {
  max-width: 100%;
}
header {
  font-family: Verdana, sans-serif;
  display: block;
}
article {
  width: 90%;
  margin: 10px;
  font-family: Verdana, sans-serif;

}
div {
  width: 90%;
  margin: 10px;
  font-family: Verdana, sans-serif;


}

footer  {
  background-color: rgb(241, 155, 83);
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  font-family: 'Lobster', sans-serif;
}
.special_links {
  font-family: 'Lobster', sans-serif;
}

.menu {
  background-color: rgb(241, 155, 83);
  margin: auto;
  padding: 0.2%;
  font-size: 32px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Lobster', sans-serif;
}

.menu ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.menu a {
  margin-left: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-right: 5%;
}

/* Dodaj nowe style dla wyszukiwarki */
.search-bar input {
  padding: 8px;
  height: 60px;
  width: 300px;
  border: none;
  outline: none;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;

}

.search-bar button {
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  margin-right: 10%;
  height: 60px;
  width: 80px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  font-family: 'Lobster', sans-serif;
}


.przepis {
  width: 70%;
  margin: auto;
  margin-top: 5%;
  display: block;
  border-radius: 40px;
  padding: 5%;
  font-family: Verdana, sans-serif;
  border: 15px solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.9);
}
.przepis h3 {
  text-decoration: underline;
}

.wpis {
  background-color: rgba(255, 255, 255, 0.9);
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  font-family: Verdana, sans-serif;
  position: relative;
}

.p_title {
  text-align: center;
  margin-bottom: 1%;
  margin-top: 1%;
}

.p_title a {
  text-decoration: underline;

}

.title {
  color: black;
  text-align: center;
  margin-bottom: 2%;
  font-family: 'Lobster', sans-serif;
  font-weight: 400;  display: block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title a{
  padding: 1%;
  background-color: rgb(241, 155, 83);
  border-radius: 40px;
}

button {
  font-family: 'Lobster', sans-serif;
}


nav.menu .material-icons {
  font-size: 2em;
  vertical-align: middle;


}
div.title .material-icons {
  font-size: 2em;
  vertical-align: middle;


}

.login-form  {
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  width: 80%;
  padding: 5%;
  font-family: 'Lobster', sans-serif;
  max-width: 600px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}

.login-form input {
  display: block;
  margin-bottom: 20px;
  font-size: 18px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.login-form label,
.login-form button {
  display: block;
  margin-bottom: 10px;
  font-size: 30px;
  border-radius: 50px;
}
.user_options {
  background-color: rgba(255, 255, 255, 0.9);
  font-family: 'Lobster', sans-serif;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
}

.user_options h1,
.user_options h2 {
  font-size: 30px;
}

.button_container {
  display: flex;
  flex-direction: row;
  font-family: 'Lobster', sans-serif;

}

.button_container a button {
  font-family: 'Lobster', sans-serif;
  background-color: rgb(241, 155, 83);
  text-align: center;
  padding: 5%;
  margin: 0 5px;
  height: 100%;
  font-size: 30px;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nowy_wpis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(255, 255, 255, 0.9);
  font-family: 'Lobster', sans-serif;
  width: 50%;
  font-size: 30px;
}

.nowy_wpis form {
  width: 80%;
  max-width: 400px; /* Ustaw maksymalną szerokość formularza */
}

.nowy_wpis label {
  margin-bottom: 8px;
}

.nowy_wpis input[type="text"],
.nowy_wpis input[type="file"],
.nowy_wpis textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.nowy_wpis button {
  background-color: rgb(241, 155, 83);
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  font-size: 30px;
  margin-bottom: 5%;
}


@media (max-width: 992px) {
  body {
    font-size: 16px;
  }

  .menu {
    font-size: 23px;
  }

  .title {
    font-size: 18px;
  }

  #button {
    font-size: 38px;
  }

  .b_konkurs {
    font-size: 38px;
    border-radius: 10px;
    padding: 18px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .menu {
    font-size: 21px;
  }
  .title {
    font-size: 16px;
  }
  #button {
    font-size: 36px;
  }
  .b_konkurs {
    font-size: 36px;
    border-radius: 8px;
    padding: 16px;
  }
}
@media (max-width: 576px) {
  body {
    font-size: 12px;
  }
  .menu {
    font-size: 19px;
  }
  .title {
    font-size: 14px;
  }
  #button {
    font-size: 30px;
  }
  .b_konkurs {
    font-size: 30px;
  }

}

@media (max-width: 440px) {
  body {
    font-size: 10px;
  }
  .menu {
    font-size: 17px;
  }
  .title {
    font-size: 12px;
  }
  #button {
    font-size: 22px;
  }
  .b_konkurs {
    font-size: 22px;
  }
}
